<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cn.jxf.mapper.student.StudentMapper">
	<!-- Student的resultMap,column是给数据库列起的别名,它对应property类的属性 -->
	<resultMap id="result_Student_Map" type="Student">
		<id column="stuId" property="stuId" />
		<result column="name" property="name" />
		<result column="sex" property="sex" />
		<result column="note" property="note" />
	</resultMap>

	<!-- 通过Student的id获得对应数据库中表的数据对象 -->
	<select id="select" parameterType="Integer" resultMap="result_Student_Map">
		select *
		from student
		where stuId = #{id}
	</select>
	
	<!-- 分页查询 -->
	<select id="list" parameterType="Map" resultMap="result_Student_Map">
		select B.* FROM
		(select A.*, ROWNUM R FROM
		(select * from student
		<trim prefix="where" prefixOverrides="AND|OR">
			<if test="id != null and id != ''">
				stuId = #{id}
			</if>
		</trim>
		)A		 
		<![CDATA[
		WHERE ROWNUM <= #{end} )B
		WHERE R > = #{start}  
		]]>
	</select>
	
	<!-- 将Student插入到对应数据库的表中,包括属性值为null的数据 -->
	<insert id="insert" parameterType="Student">
		insert into 
		student (stuId,name,sex,note) 
		values(#{stuId,jdbcType=NUMERIC},#{name,jdbcType=VARCHAR},#{sex,jdbcType=TINYINT},#{note,jdbcType=VARCHAR})
	</insert>
	
	<!-- 根据id修改 -->
	<update id="update" parameterType="Student">
		update student
		<trim prefix="set" suffixOverrides=",">
			<if test="stuId != null and stuId != ''">
				stuId = #{stuId}
			</if>
		</trim>
		where stuId =#{stuId}
	</update>
	
	<delete id="delete" parameterType="Integer">
		delete from student where stuId = #{stuId}
	</delete>
	
</mapper>