<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cn.jxf.mapper.system.ResourceMapper" >
	<resultMap id="resMap" type="Res">
		<id property="resId" column="res_id" />
		<result property="resName" column="res_name" />
		<result property="resType" column="res_type" />
		<result property="resUrl" column="res_url" />
		<result property="resLogo" column="res_logo" />
		<result property="parentId" column="res_parentid" />
		<result property="resOrder" column="res_order" />
		<result property="resLevel" column="res_level" />
	</resultMap>
 	
 	<select id="searchAllResource" resultMap="resMap">
		select * from
		xf_sys_resource where START WITH res_id=1 CONNECT BY PRIOR
		res_id = parent_id order siblings by res_order
	</select> 
	
	<select id="searchResource" resultMap="resMap">
 		select * from xf_sys_resource res join xf_sys_roleres rore on rore.res_id=res.res_id 
		<trim prefix="where" prefixOverrides="AND|OR">
			<if test="roleId != null and roleId != ''">
				 rore.role_id = #{roleId}
			</if>
		</trim>
	</select> 
</mapper>